<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="calendarMapper">
	
	<resultMap type="Calendar" id="calendarResultSet">
		<id column="calendar_no" property="calendarNo" />
		<result column="calendar_writer" property="calendarWriter" />
		<result column="calendar_begin_date" property="calendarBeginDate" />
		<result column="calendar_end_date" property="calendarEndDate" />
		<result column="calendar_bg_color" property="calendarBgColor" />
		<result column="calendar_font_color" property="calendarFontColor" />
		<result column="calendar_begin_time" property="calendarBeginTime" />
		<result column="calendar_end_time" property="calendarEndTime" />
		<result column="calendar_title" property="calendarTitle" />
		<result column="calendar_content" property="calendarContent" />
		<result column="calendar_status" property="calendarStatus" />
	</resultMap>

</mapper>
