<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="controlAllMapper">
	<resultMap type="Ca" id="CaResultSet">
		<id column="member_no" property="memberNo"/>
		<result column="active_dday" property="activeDday" />
		<result column="active_voca" property="activeVoca" />
		<result column="active-memo" property="activeMemo" />
		<result column="active_timetable" property="activeTimetable" />
		<result column="privacy_calendar" property="privacyCalendar" />
		<result column="privacy_diary" property="privacyDiray" />
		<result column="privacy_freenote" property="privacyFreenote" />
		<result column="privacy_photo" property="privacyPhoto" />
		<result column="privacy_account" property="privacyAccount" />
		<result column="privacy_dday" property="privacyDday" />
		<result column="privacy_voca" property="privacyVoca" />
		<result column="privacy_memo" property="privacyMomo" />
		<result column="privacy_timetable" property="privacyTimetable" />
		<result column="my_color_logo" property="myColorLogo" />
		<result column="my_color_background" property="myColorBackground" />
		<result column="my_color_menubar" property="myColorMenubar" />
		<result column="my_color_font" property="myColorFont" />
	</resultMap>
	
	
	
	
</mapper>