<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="diaryMapper">

	<resultMap id="diaryResultSet" type="Diary">
		<id column="diary_no" property="diaryNo" />
		<result column="diary_writer" property="diaryWriter" />
		<result column="diary_title" property="diaryTitle" />
		<result column="diary_content" property="diaryContent" />
		<result column="diary_date" property="diaryDate" />
		<result column="diary_status" property="diaryStatus" />		
	</resultMap>

	<select id="selectListCount" parameterType="_int" resultType="_int">
		select
		        count(*)
		  from  diary
		 where diary_status = 'Y'
	</select>
	
	<select id="selectList" parameterType="_int" resultMap="diaryResultSet">
	select
	        diary_no
	      , diary_title
	      , diary_date
	  from diary
	 where diary_status='Y'
	 order
	    by diary_no desc
      
	</select>
	<insert id="insertDiary" parameterType="Diary">
		insert
		  into diary
		  (
		  	 diary_no
		   , member_no  	   
		   , diary_title
		   , diary_content
		   , to_char(diary_date, 'yyyy.mm.dd hh24:mi') as diary_date
		  )
		  values
		  (
		     seq_diaryno.nextval
		   , #{diaryWriter}
		   , #{diaryTitle}
		   , #{diaryContent}
		  )
	</insert>
	
	<select id="detailDiary" parameterType="_int" resultMap="diaryResultSet">
	select
			diary_no
		  , diary_title
		  , diary_content
       from diary d 
       join member using(member_no)	
      where diary_no = #{dno}
        and d.diary_status='Y' 
	</select>
	
	<update id="delteDiary" parameterType="_int">
	update
			diary
	   set diary_status = 'N'
	 where diary_no = #{dno}  	
	</update>
	
	<update id="updateDiary" parameterType="Diary">
	update
			diary
	   set diary_title = #{diaryTitle}
	     , diary_content = #{diaryContent}
	 where diary_no = #{diaryNo}      		
	</update>
	
</mapper>
