<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="freenoteMapper">
	
	<resultMap type="Freenote" id="freenoteResultSet">
		<id column="" property="" />
		<result column="freenote_no" property="freenoteNo" />
		<result column="freenote_title" property="freenoteTitle" />
		<result column="freenote_content" property="freenoteContent" />
		<result column="freenote_category" property="freenoteCategory" />
		<result column="freenote_topic" property="freenoteTopic" />
		<result column="freenote_privacy" property="freenotePrivacy" />
		<result column="freenote_privacy_comm" property="freenotePrivacyComm" />
		<result column="freenote_comment_yn" property="freenoteCommentYN" />
		<result column="freenote_count" property="freenoteCount" />
		<result column="freenote_like" property="freenoteLike" />
		<result column="create_date" property="createDate" />
		<result column="modify_date" property="modifyDate" />
		<result column="status" property="status" />
		<result column="nickname" property="freenoteWriter" />		
	</resultMap>

	<select id="selectListCount" parameterType="SearchCondition" resultType="_int">
		select 
		       count(*)
		  from freenote
		 where member_no = #{mno}
		   and freenote_category like '%'||#{category}||'%'
		   and freenote_title like '%'||#{title}||'%'
		   and status='Y'
	</select>
	
	<select id="selectList" parameterType="SearchCondition" resultMap="freenoteResultSet">
		select 
		       freenote_no
		     , freenote_title
		     , freenote_privacy
		     , freenote_category
		     , to_char(create_date, 'yyyy-mm-dd') as create_date
		  from freenote
		 where member_no = #{mno}
		   and freenote_category like '%'||#{category}||'%'
		   and freenote_title like '%'||#{title}||'%'
		   and status='Y'
		 order
			by freenote_no desc
	</select>
	
	<select id="selectCategory" parameterType="_int" resultType="string">
		select 
		       distinct freenote_category
		  from freenote
		 where member_no = #{mno}
		 order
		    by freenote_category
	</select>
	
	<insert id="insertFreenote" parameterType="Freenote">
		insert
		  into freenote
		  (
		     freenote_no
		   , freenote_title
		   , freenote_content
		   , freenote_category
		   , freenote_topic
		   , freenote_privacy
		   , freenote_privacy_comm
		   , freenote_comment_yn
		   , member_no
		  )
		  values
		  (
		     seq_freenoteno.nextval
		   , #{freenoteTitle}
		   , #{freenoteContent}
		   , #{freenoteCategory}
		   , #{freenoteTopic}
		   , #{freenotePrivacy}
		   , #{freenotePrivacyComm}
		   , #{freenoteCommentYN}
		   , #{freenoteWriter}
		  )
	</insert>
	
	<update id="increaseCount" parameterType="_int">
		update 
		       freenote
		   set freenote_count = freenote_count + 1
		 where freenote_no = #{fno}
		   and status = 'Y'
	</update>
	
	<select id="selectFreenote" parameterType="_int" resultMap="freenoteResultSet">
		select
		       freenote_no
		     , freenote_title
		     , freenote_content
		     , freenote_category
		     , freenote_topic
		     , freenote_privacy
		     , freenote_privacy_comm
		     , freenote_comment_yn
		     , freenote_count
		     , freenote_like
		     , to_char(create_date, 'yyyy.mm.dd hh24:mi') as create_date
		     , nickname
		  from freenote f
		  join member using(member_no)
		 where freenote_no = #{fno}
		   and f.status = 'Y'
	</select>
	
	<update id="updateFreenote" parameterType="Freenote">
		update
		       freenote
		   set freenote_title = #{freenoteTitle}
		     , freenote_content = #{freenoteContent}
		     , freenote_category = #{freenoteCategory}
		     , freenote_topic = #{freenoteTopic}
		     , freenote_privacy = #{freenotePrivacy}
		     , freenote_privacy_comm = #{freenotePrivacyComm}
		     , freenote_comment_yn = #{freenoteCommentYN}
		     , modify_date = sysdate
		 where freenote_no = #{freenoteNo}
	</update>

</mapper>
