<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="freenoteMapper">
	
	<resultMap type="Freenote" id="freenoteResultSet">
		<id column="freenote_no" property="freenoteNo" />
		<result column="freenote_title" property="freenoteTitle" />
		<result column="freenote_content" property="freenoteContent" />
		<result column="freenote_category" property="freenoteCategory" />
		<result column="freenote_topic" property="freenoteTopic" />
		<result column="freenote_privacy" property="freenotePrivacy" />
		<result column="freenote_privacy_comm" property="freenotePrivacyComm" />
		<result column="freenote_comment_yn" property="freenoteCommentYN" />
		<result column="freenote_count" property="freenoteCount" />
		<result column="freenote_like" property="freenoteLike" />
		<result column="create_date" property="createDate" />
		<result column="modify_date" property="modifyDate" />
		<result column="status" property="status" />
		<result column="nickname" property="freenoteWriter" />		
	</resultMap>
	
	<resultMap type="Reply" id="replyResultSet">
		<id column="reply_no" property="replyNo" />
		<result column="reply_content" property="replyContent" />
		<result column="reply_like" property="replyLike" />
		<result column="create_date" property="createDate" />
		<result column="modify_date" property="modifyDate" />
		<result column="status" property="status" />
		<result column="ref_fno" property="refFno" />
		<result column="nickname" property="replyWriter" />
		<result column="ref_rno" property="refRno" />
		<result column="reply_level" property="replyLevel" />
	</resultMap>

	<select id="selectListCount" parameterType="SearchCondition" resultType="_int">
		select 
		       count(*)
		  from freenote
		 where member_no = #{mno}
		   and freenote_category like '%'||#{category}||'%'
		   and freenote_title like '%'||#{title}||'%'
		   and status='Y'
	</select>
	
	<select id="selectList" parameterType="SearchCondition" resultMap="freenoteResultSet">
		select 
		       freenote_no
		     , freenote_title
		     , freenote_privacy
		     , freenote_category
		     , to_char(create_date, 'yyyy-mm-dd') as create_date
		  from freenote
		 where member_no = #{mno}
		   and freenote_category like '%'||#{category}||'%'
		   and freenote_title like '%'||#{title}||'%'
		   and status='Y'
		 order
			by freenote_no desc
	</select>
	
	<select id="selectCategory" parameterType="_int" resultType="string">
		select 
		       distinct freenote_category
		  from freenote
		 where member_no = #{mno}
		 order
		    by freenote_category
	</select>
	
	<insert id="insertFreenote" parameterType="Freenote">
		insert
		  into freenote
		  (
		     freenote_no
		   , freenote_title
		   , freenote_content
		   , freenote_category
		   , freenote_topic
		   , freenote_privacy
		   , freenote_privacy_comm
		   , freenote_comment_yn
		   , member_no
		  )
		  values
		  (
		     seq_freenoteno.nextval
		   , #{freenoteTitle}
		   , #{freenoteContent}
		   , #{freenoteCategory}
		   , #{freenoteTopic}
		   , #{freenotePrivacy}
		   , #{freenotePrivacyComm}
		   , #{freenoteCommentYN}
		   , #{freenoteWriter}
		  )
	</insert>
	
	<update id="increaseCount" parameterType="_int">
		update 
		       freenote
		   set freenote_count = freenote_count + 1
		 where freenote_no = #{fno}
		   and status = 'Y'
	</update>
	
	<select id="selectFreenote" parameterType="_int" resultMap="freenoteResultSet">
		select
		       freenote_no
		     , freenote_title
		     , freenote_content
		     , freenote_category
		     , freenote_topic
		     , freenote_privacy
		     , freenote_privacy_comm
		     , freenote_comment_yn
		     , freenote_count
		     , freenote_like
		     , to_char(create_date, 'yyyy.mm.dd hh24:mi') as create_date
		     , nickname
		  from freenote f
		  join member using(member_no)
		 where freenote_no = #{fno}
		   and f.status = 'Y'
	</select>
	
	<update id="updateFreenote" parameterType="Freenote">
		update
		       freenote
		   set freenote_title = #{freenoteTitle}
		     , freenote_content = #{freenoteContent}
		     , freenote_category = #{freenoteCategory}
		     , freenote_topic = #{freenoteTopic}
		     , freenote_privacy = #{freenotePrivacy}
		     , freenote_privacy_comm = #{freenotePrivacyComm}
		     , freenote_comment_yn = #{freenoteCommentYN}
		     , modify_date = sysdate
		 where freenote_no = #{freenoteNo}
	</update>
	
	<update id="deleteFreenote" parameterType="_int">
		update 
		       freenote
		   set status = 'N'
		 where freenote_no = #{fno}
	</update>
	
	<select id="selectReplyListCount" parameterType="_int" resultType="_int">
		select 
		       count(*)
		  from reply
		 where ref_fno = #{fno}
		   and reply_level = 1
		   and status = 'Y'
	</select>
	
	<select id="selectReplyList" parameterType="_int" resultMap="replyResultSet">
		select 
		       reply_no
		     , reply_content
		     , reply_like
		     , to_char(create_date, 'yyyy.mm.dd hh24:mi') as create_date
		     , nickname
		     , ref_rno
		     , reply_level
		  from reply r
		  join member using(member_no)
		 where ref_fno = #{fno}
		   and reply_level = 1
		   and r.status = 'Y'
		 order
		    by create_date desc
	</select>
	
	<select id="selectReplyList2" parameterType="_int" resultMap="replyResultSet">
		select 
		       reply_no
		     , reply_content
		     , reply_like
		     , to_char(create_date, 'yyyy.mm.dd hh24:mi') as create_date
		     , nickname
		     , ref_rno
		     , reply_level
		  from reply r
		  join member using(member_no)
		 where ref_fno = #{fno}
		   and reply_level = 2
		   and r.status = 'Y'
		 order
		    by create_date asc
	</select>
	
	<insert id="insertReply" parameterType="Reply">
		insert
		  into reply
		  (
		     reply_no
		   , reply_content
		   , ref_fno
		   , member_no
		   <if test="refRno != 0">
		   , ref_rno
		   </if>
		   , reply_level
		  )
		  values
		  (
		     seq_replyno.nextval
		   , #{replyContent}
		   , #{refFno}
		   , #{replyWriter}
		   <if test="refRno != 0">
		   , #{refRno}
		   </if>
		   , #{replyLevel}
		  )
	</insert>
	
	<update id="deleteReply" parameterType="_int">
		update 
		       reply
		   set status = 'N'
		 where reply_no = #{rno}
	</update>
	
	
	<!-- 커뮤니티 -->
	<select id="selectCommListCount" parameterType="string" resultType="_int">
		select 
		       count(*)
		  from freenote
		 where freenote_topic like '%' || #{topicName} || '%'
		   and status = 'Y'
   		   and freenote_privacy_comm = 'Y'
	</select>
	
	<select id="selectCommList" parameterType="string" resultMap="freenoteResultSet">
		select 
		       nickname
		     , freenote_no
		     , freenote_title
		     , freenote_like
		     , to_char(create_date, 'yyyy-mm-dd') as create_date
		     , freenote_topic
		  from freenote f
		  join member using(member_no)
		 where freenote_topic like '%' || #{topicName} || '%'
		   and f.status = 'Y'
		   and freenote_privacy_comm = 'Y'
		 order
		    by create_date desc
	</select>	
	
	<select id="selectSearchListCount" parameterType="SearchCondition" resultType="_int">
		select 
		       count(*)
		  from freenote f
		  join member using(member_no)
		 where f.status = 'Y'
		   and freenote_privacy_comm = 'Y'
		 <choose>
		 	<when test="title!= null">
		    	and freenote_title like '%' || #{title} || '%'
		 	</when>
		 	<when test="writer != null">
		    	and nickname like '%' || #{writer} || '%'		 	
		 	</when>
		 	<otherwise>
		    	and (nickname like '%' || #{wirterTitle} || '%'
		     	 or freenote_title like '%' || #{wirterTitle} || '%')		 	
		 	</otherwise>
		 </choose>
	</select>
	
		<select id="selectSearchList" parameterType="SearchCondition" resultMap="freenoteResultSet">
		select 
		       nickname
		     , freenote_no
		     , freenote_title
		     , freenote_like
		     , to_char(create_date, 'yyyy-mm-dd') as create_date
		     , freenote_topic
		  from freenote f
		  join member using(member_no)
		 where f.status = 'Y'
		   and freenote_privacy_comm = 'Y'
		 <choose>
		 	<when test="title!= null">
		    	and freenote_title like '%' || #{title} || '%'
		 	</when>
		 	<when test="writer != null">
		    	and nickname like '%' || #{writer} || '%'		 	
		 	</when>
		 	<otherwise>
		    	and (nickname like '%' || #{wirterTitle} || '%'
		     	 or freenote_title like '%' || #{wirterTitle} || '%')		 	
		 	</otherwise>
		 </choose>
			  order
		 <choose>
		 	<when test="sort == 'recent'">
			   	 by create_date desc
		 	</when>
		 	<otherwise>
		 		 by freenote_count desc
		 	</otherwise>
		 </choose>
	</select>
</mapper>
