<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

	<resultMap id="memberResultSet" type="Member">
		<id column="member_no" property="memberNo" />
		<result column="member_name" property="memberName" />
		<result column="member_id" property="memberId" />
		<result column="member_pwd" property="memberPwd" />
		<result column="email" property="email" />
		<result column="phone" property="phone" />
		<result column="nickname" property="nickname" />	
		<result column="profile" property="profile" />
		<result column="enroll_date" property="enrollDate" />
		<result column="modify_date" property="modifyDate" />
		<result column="status" property="status" />
		<result column="introduction_title" property="introductionTitle" />
		<result column="introduction_content" property="introductionContent" />	
	</resultMap>

	<select id="infoList" parameterType="Member" resultMap="memberResultSet">
	select
			member_no
	      , profile  
		  ,	member_name
	      , member_id
	      , nickname
	      , email
	      , phone
	  from member
	 where status='Y'
	</select>
	<update id="infoUpdate" parameterType="Member">
		 update
		        member
		    set 
		        member_no=#{memberNo}
		      , member_name=#{memberName}
		      , member_id=#{memberId}
		      , nickname=#{nickname}
		      , email=#{email}
		      , phone=#{phone}
		      , profile=#{profile}  
		  where member_id=#{memberId} 
	</update>
	
	 <select id ="introList" resultMap="memberResultSet">
	 select
	 		member_no
	      , introduction_title
	      , introduction_content  
	  from member
	  where member_no=#{memberNo}
	 </select >
	

</mapper>
