<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memoMapper">
	
	<resultMap type="Memo" id="memoResultSet">
		<id column="memo_no" property="memoNo" />
		<result column="memo_writer" property="memoWriter" />
		<result column="memo_title" property="memoTitle" />
		<result column="memo_content" property="memoContent" />
		<result column="memo_widget" property="memoWidget" />
	</resultMap>

</mapper>
